@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* --- CSS RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 30px;
    width: 360px;
    text-align: center;
    border-radius: 12px;
}

.icon {
    font-size: 50px;
    color: #ff1700;
    margin: 15px;
}