@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: #ebf2f7;
}

.container {
    background-color: white;
    max-width: 100%;
    width: 400px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.title-form {
    text-align: center;
    margin-bottom: 30px;
}

.title-form h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
}

.title-form p {
    font-size: 14px;
    color: #666;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #999;
    font-size: 16px;
    pointer-events: none;
    transition: color 0.3s ease;
}

.input-wrapper input {
    width: 100%;
    padding: 14px 16px 14px 48px;
    background-color: #f3f4f8;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 14px;
    font-family: inherit;
    outline: none;
    transition: all 0.3s ease;
}

/* Efek Fokus */
.input-wrapper input:focus {
    background-color: #fff;
    border-color: #007bff;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.1);
}

.input-wrapper:focus-within .input-icon {
    color: #007bff;
}

.input-group label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.label-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sign-in {
    background-color: #007bff;
    border: none;
    padding: 14px;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.btn-sign-in:hover {
    background-color: #0056b3; /* Warna lebih gelap saat hover */
}

.link-form {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.link-form a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}